name: dataset
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/flat.yml
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.10.x
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://www.mathworks.com/matlabcentral/cody/players?term=id%3A173294+OR+id%3A734801+OR+id%3A5349647+OR+id%3A17355128+OR+id%3A1887879+OR+id%3A17719399+OR+id%3A12862873+OR+id%3A15363629+OR+id%3A615500+OR+id%3A10491973&format=json
          downloaded_filename: leaderboard_data.json
